fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose
twilio
pymongo
requests
openai
pydantic
pillow
email-validator

elevenlabs==0.2.26
email_validator==2.2.0
fastapi==0.121.3
fastapi-cli==0.0.14
fastapi-cloud-cli==0.3.1
fastapi-mail==1.5.0
fastjsonschema==2.20.0
filelock==3.18.0
Flask==3.1.0
flask-cors==5.0.1


openai==2.17.0
opencv-python==4.13.0.90
openpyxl==3.1.5
pdf2image==1.17.0
pillow==11.1.0
pydantic==2.12.4
pydantic-extra-types==2.10.5
pydantic-settings==2.11.0
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
pyglet==2.1.13
pyglm==2.8.3
Pygments==2.18.0
pyiceberg==0.10.0
pyjsparser==2.7.1
PyJWT==2.10.1
pymongo==4.14.1
pyparsing==3.2.1
pypiwin32==223
PyPrind==2.11.3
pyroaring==1.0.3
pySmartDL==1.3.4
pytesseract==0.3.13
pytest==8.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
python-json-logger==2.0.7
python-multipart==0.0.20
pyttsx3==2.98
pytz==2024.2
pywin32==308
pywinpty==2.0.14
PyYAML==6.0.2
pyzmq==26.2.0
qrcode==8.2
realtime==2.27.2
referencing==0.35.1
regex==2024.11.6
reportlab==4.4.9
SQLAlchemy==2.0.43
sqlmodel==0.0.24
srt==3.5.3
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
starlette==0.46.1
storage3==2.27.2
streamlit==1.44.1
StrEnum==0.4.15
strictyaml==1.7.3
stringzilla==4.2.3
supabase==2.27.2
supabase-auth==2.27.2
supabase-functions==2.27.2


